{% extends "base.html" %}
{% load staticfiles %}

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% block content %}

    <h2>Filterable Table</h2>
<p>Type something in the input field to search the table for first names, last names or emails:</p>
<input id="myInput" type="text" placeholder="Search..">
<br><br>

    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Score</th>
        <th>URL</th>
      </tr>
      </thead>
      <tbody id="myTable">
      {% for article in articles %}
        <tr>
            <td>{{ article.by }}</td>
            <td>{{ article.score }}</td>
            <td>{{ article.url }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


{% endblock %}
