<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Top 30 Stories on HackerNews</h2>
<p>Type something in the input field to search the below list</p>
<input id="myInput" type="text" placeholder="Search..">
<br><br>

<table>
  <thead>
  <tr>
      <th>Title</th>
      <th>Score</th>
      <th>URL</th>
      <th>Posted by</th>
      <th>Sentiment</th>
  </tr>
  </thead>
  <tbody id="myTable">
  {% for article in articles %}
        <tr>
            <td id="title">{{ article.title }}</td>
            <td>{{ article.score }}</td>
            <td>{{ article.url }}</td>
            <td>{{ article.by }}</td>
            <td>{{ article.sentimentPolarity }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>

</body>
</html>
